body {
    margin: 0;
    padding: 0;
}

.outerWrapper {
    display: flex;
    min-height: 85vh;
    background-color: steelblue;
    font-family: cursive;
    justify-content: space-around;
    padding: 3rem 1rem;
}

.imageDiv img {
    height: 500px;
    width: 500px;
    border-radius: 20px;
}

.textDiv {
    display: flex;
    flex-direction: column;
    width: 700px;
}

.textDiv h1 {
    font-size: 53px;
}

.textDiv p {
    font-size: 20px;
    color: gainsboro;
}